*.o
*.d
*.pyc
*.egg*
*.ppm
dist/
build/
log
rundemos.sh
makedocs.sh
pyrosim/test
pyrosim/simulator/simulator
pyrosim/simulator/external/ode-0.12
pyrosim/simulator/external/tmp
pyrosim/frame
./frame
pyrosim/simulator/build

.DS_Store